/**************************          HEADER            ***********************/

header {
    background: url(../images/background.jpg) rgba(35, 35, 35, .8);
    background-size: cover;
    color: white;
    height: 370px;

}

nav {
    top: initial;
    background: #232323;
    border-bottom: 3px solid black;
}

#logo {
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 10;
    background: rgba(35, 35, 35, 0);
}

#main-nav {
    transition: all .2s;
    position: absolute;
    width: 100%;
}

#main-nav.fixed {
    top: 130px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo a {
    display: block;
    background-image: url(../images/logo.png);
    height: 100px;
    width: 440px;
}

/* ANIMATION LOGO */
#logo:hover {
    animation: logo_greyscale 1s infinite alternate;
}
@keyframes logo_greyscale {
    from {
        filter: grayscale(0%);
    }
    to {
        filter: grayscale(80%);
    }
}

/* NAVIGATION */
nav a {
    padding: 0 40px;
    color: white;
    font-weight: bold;
    line-height: 2;
    font-size: 1.5em;
}

nav a i {
    transition: transform .5s;
    margin-right: 10px;
}

nav a:hover i.icon {
    transform: rotate(20deg);
}

nav a:hover {
    background-color: rgba(112, 205, 201, 0.16);
    color: white;
}




/**************************          MAIN            ***********************/
.message {
    padding: 10px 40px;
    background-color: #41807e;
    font-weight: bold;
    border: 2px solid #7a686a;
    border-radius: 5px;
}

.bloc {
    width: 48%;
    border: 3px solid red;
    border-radius: 5px;
    margin-bottom: 4%
}

.bloc:nth-child(even) {
    margin-left: 4%;
}

.bloc h2 {
    padding: 20px 25px;
    background-color: red;
    margin: 0;
    color: white;
}

/**************************          VIDEO LIST            ***********************/

.list li {
    transition: all 1s;
    line-height: 3;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.list li:hover {
    background-color: red;
}

.list li:hover a {
    color: white
}

.list li:hover:after {
    box-shadow: inset -30px 0 30px red;
}

.list li:after {
    content: '';

    position: absolute;
    right: 0;

    display: inline-block;
    height: 100%;
    width: 60px;

    transition: all 1s;

    box-shadow: inset -40px 0 20px white;
}

.list img, .list strong, .list span {
    vertical-align: middle;
}

.list strong {
    padding: 10px;
}

.list span {
    position: absolute;
    right: 0;
    z-index: 2;
    color: #AAA;
    padding: 0 5px;
}

/**************************          MAIN            ***********************/
main {
    padding: 40px 0
}

#player.full-width {
    box-sizing: border-box;
    width: 100%;
    height: calc((9 / 16) * 100vw);
    max-height: calc(100vh - 185px);
}

#player.large {
}

#player.small {
}

#player.medium {
}

#video #description {
    height: 20em;
    overflow-y: auto;
}